.GoalXHeader {
    align-items: center;
    column-gap: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 6px 0;
}

.GoalXHeaderContent {
    display: block;
    flex-direction: column;
    row-gap: 15px;
}

.Icon {
    cursor: pointer;
}

.Subtitle {
    color: rgb(255 255 255 / 56%);
}
