.TaskItemElement {
    width: 100%;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.PricesWrap {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Badge {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.LineThrough {
    text-decoration: line-through;
}
