.GoalXList {
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
    overflow-y: auto;
    row-gap: 16px;
}

.SumWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.taskItemElement {
    overflow: hidden;
}

.archiveTaskListing {
    padding-top: 30px;
}
